/* --- Logo --- */
.logo {
  width: clamp(40px, 8vw, 80px);
  height: auto;
  vertical-align: middle;
  position: relative;
}

.title {
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 15px;
  font-size: clamp(1.3rem, 2.2vw, 2rem);
  white-space: nowrap;
  margin-bottom: 7px;
}

/* --- Text --- */
p {
  font-family: Arial, sans-serif;
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  line-height: 1.5;
  color: #000;
  margin-left: 20px;
}

h1, h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

h1 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  display: inline-block;
}

h2 {
  font-size: clamp(1rem, 3vw, 2rem);
  margin-left: 20px;
}

/* --- Body --- */
body {
  margin: 0;
  background-color: #d3d2c8;
}

/* --- Header (flexbox) --- */
header {
    display: flex;
    justify-content: space-between; /* stânga + dreapta */
    align-items: center;
    background-color: #000000;
    width: 100%;
    padding: 3px 15px;
    min-height: 45px;
    box-sizing: border-box;
    position: relative;
}


/* Grup logo + titlu */
.left-section {
  display: flex;
  align-items: center;
}

/* --- Navbar Desktop --- */
.navBar {
    display: flex;
    justify-content: flex-end;  /* împinge totul în dreapta */
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 999; /* doar ca să fie sigur peste logo */
}

.navBar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  padding: clamp(12px, 0.8vw, 8px) clamp(6px, 1vw, 12px);
  transition: color 0.3s ease;
}

.navBar a:hover,
.navBar a.active {
  color: rgb(196, 196, 196);
}

/* --- Hamburger --- */
.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  font-size: 2rem;
  color: rgb(196, 196, 196);
  cursor: pointer;
  user-select: none;
}

/* --- Mobile --- */
@media (max-width: 768px) {

  .navBar {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding-right: 0;
    width: 220px;
    background-color: #000000;
    flex-direction: column;
    text-align: right;
    
    overflow: hidden;

    max-height: 0;
    opacity: 0;                  /* pentru fade out */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    border-radius: 0px;
    padding: 10px 0;             /* păstrăm padding permanent */
    z-index: 9999;
  }

  #menu-toggle:checked ~ .navBar {
    max-height: 300px;
    opacity: 1;
  }

  .hamburger {
    display: block;
  }

  .navBar a {
    padding: 10px 15px;
    color: #ffffff;
  }
}
